$var:(
    seccion1:url(../img/img2.jpg),
    seccion3:url(../img/img8.jpg),
    seccion4:url(../img/img29-1170x650.jpg),
    seccion5:url(../img/pets5.jpg),
    colorgradiente1: rgb(204, 255, 20),
    colorgradiente2: rgb(0, 187, 187),
);