$colorPrimario:rgb(255, 255, 255);
$colorSecundario:rgb(204, 255, 20);
$colorTerciario:rgb(0, 187, 187);
$colorQuaternario:rgb(99, 99, 99);
$colorFondoFooter:rgb(0, 0, 0);
$backgroundFooter: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../img/img23.jpg);
$backgroundSeccion1:url(../img/img2.jpg);
$backgroundSeccion3:url(../img/img8.jpg);
